@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

body {
  background-color: #f5f4f6;
  font-family: 'Trebuchet MS', sans-serif;
}

h1 {
  margin-bottom: 0px;
  text-align: left;
  font-size: 3.40vw;
}

h3 {
  text-align: left;
  font-weight: 500;
}

h4 {
  text-align: left;
}

.underline-text {
  margin-top: 0px;
  text-align: left;
  font-size: 1.80vw;
}

h5 {
  margin-top: 0px;
  margin-bottom: 5px;
  padding-top: 0px;
  text-align: left;
}

p {
  color: #2d3142;
  margin: 0;
  text-align: left;
}

/* Add additional styles for your App component */
.App {
  text-align: center;
  margin: auto;
  align-items: center;
  flex-direction: column;
  background-color: #181f4d;
  width: 50vw;
}

.App-holder {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
}

#header-border {
  width: 100vw;
  margin-left: calc((-100vw + 100%) / 2);
  margin-right: calc((-100vw + 100%) / 2);
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #181f4d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-holder {
  display: flex;
  flex-direction: column;
  width: 30vw;
}

.emergency-button {
  width: 25%;
  background-color: #f5f4f6;
  padding: 20px;
  margin: 0 auto;
  border-radius: 20px;
}

.emergency-text {
  font-size: 1.25vw;
  font-weight: 600;
  text-decoration: none;
}

a.emergency-text:link {
  color: #df731b;

}

a.emergency-text:visited {
  color: #df731b;
}

a.emergency-text:hover {
  color: #efaf7b;
}

.header-text {
  text-decoration: none;
  color: #f5f4f6;
}

.body-container {
  background-color: #f5f4f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10em;
}

.item-holder {
  width: 50vw;
  padding-top: 20px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.body-text {
  margin-bottom: 10px;
}

.menu-holder {
  margin-bottom: 10px;
}

.info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.info-container {
  margin-bottom: 40px;
}

.info-title {
  text-decoration: underline;
  text-align: left;
  padding-bottom: 5px;
}

.info-description {
  text-align: left;
  padding-bottom: 5px;
}

.info-link {
  text-align: left;
  color: #4455c5;
  text-decoration: none;
}

a.info-link:hover {
  color: #9aa3df;
}